<div class="sticker">
  <a [routerLink]="['/sticker-view', sticker.Id]" class="name">
    {{ sticker.Name }}
  </a>
  <hr *ngIf="sticker.HTML.length"/>
  <pre *ngIf="sticker.HTML.length" class="sticker-text">{{  sticker.HTML | htmlToText:120 }}</pre>
  <span class="time">Edited:
    <time>{{ sticker.LastModificationDate | dynamicDate }}</time>
  </span>
  <div class="buttons">
    <a class="btn"
       [routerLink]="['/sticker-view', sticker.Id]"
    >Open</a>
    <a class="btn"
       [routerLink]="['/sticker-edit', sticker.Id]"
    >Edit</a>
    <a class="btn delete" (click)="_deleteSticker(sticker.Id)">Delete</a>
  </div>
</div>
