.sticker {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px 0 0 0;
  border-radius: 4px;
  margin: 5px 10px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  overflow: hidden;
  width: 300px;

  hr {
    width: 100%;
  }

  .name {
    font-weight: 600;
    margin: 0 5px;
    word-wrap: break-word;

    &::after {
      content: "\1F441";
      font-size: 20px;
    }

    &:hover {
      background: -webkit-gradient(linear, left top, right top, from(#ff8a00), to(#e52e71));
      background: linear-gradient(to right, #ff8a00, #e52e71);
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      box-decoration-break: clone;
      text-shadow: none;
    }
  }

  .sticker-text {
    margin: 0 5px;
    word-break: break-word;
    white-space: pre-line;
    font-family: Roboto, sans-serif;
  }

  .time {
    margin: 0 5px;
    color: #949494;
    font-size: 12px;
    text-align: right;
  }

  .buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    a.btn {
      width: 100%;
      text-align: center;
      padding: 10px 0;
      border-radius: 4px;
      cursor: pointer;
      user-select: none;
    }
  }
}
