@import "./../node_modules/normalize.scss/normalize.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color: black;

  &:hover{
    text-decoration: none;
    color: black;
  }

  &.btn:hover{
    background-color: #eee;
  }

  &.btn.delete:hover{
    background-color: #ff9e9e;
  }

  &[href='https://www.froala.com/wysiwyg-editor?k=u']{
    // html editor license 
    display: none!important;
  }
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 8px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #222222;
  color: #FFF;
  font-size: 11px;
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
  transition: opacity 0.2s ease 0s;
  opacity: 0;
  left: -3000px;
  user-select: none;
  z-index: 2147483647;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} // unused