.dashboard{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 10px 40px;
}

.text{
  margin: 40px;
}

@media screen and (max-width: 640px) {
  .dashboard{
    margin: 5px 0px;
    justify-content: center;
  }
}
