<div class="dashboard" *ngIf="stickers.length; else noStickers">
  <app-sticker
    *ngFor='let sticker of stickers'
    [sticker]='sticker'
    [ngStyle]="{'order': 'sticker.Id'}"
    (deleteSticker)='delete($event)'
  ></app-sticker>
</div>
<ng-template #noStickers>
  <p class="text">No stickers yet.. :(</p>
</ng-template>
