header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  font-weight: 600;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 0;

  ul{
    list-style: none;
    display: flex;
    flex-flow: row wrap;

    li{
      background-color: transparent;
      padding: 10px;
      cursor: pointer;

      &:hover{
        background-color: #ddd;
      }
    }
  }

  time{
    margin-right: 40px;
    padding: 10px;
  }
}

