<header>
  <nav>
    <ul>
      <a routerLink="/" routerLinkActive="active">
        <li>Dashboard</li>
      </a>
      <a (click)='createSticker()' *ngIf="isCreateStickerButtonShown">
        <li>Add Sticker</li>
      </a>
    </ul>
  </nav>
  <time>{{now | date:'MMMM d, HH:mm'}}</time>
</header>