.view{
  max-width: 1280px;
  margin: 0 auto;

  .title{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    a {
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}