<div class="view" *ngIf="sticker$ | async as sticker">
  <div class="title">
    <h1>{{ sticker.Name }}</h1>
    <div>
        <a class="btn"
           [routerLink]="['/sticker-edit', sticker.Id]"
        >Edit</a>
        <a class="btn delete">Delete(todo)</a>
    </div>

  </div>
  <div [froalaView]="sticker.HTML"></div>
</div>
