<div class="edit" *ngIf="sticker$ | async as sticker; else preloader">
  <div class="title">
    <h2>Stiker Editor</h2>
    <span class="id">id:{{ sticker.Id }}</span>
    <div>
      <span class="last-edited">Edited:
        {{ sticker.LastModificationDate | dynamicDate }}
      </span>
      <a class="btn" (click)="save(sticker)">Save</a>
      <a class="btn delete">Delete(todo)</a>
    </div>
  </div>
  <input [(ngModel)]="sticker.Name" type="text" placeholder="Sticker name"/>
  <div [froalaEditor] [(froalaModel)]="sticker.HTML"></div>
  <div class="preview">
    <h2>Preview</h2>
    <div [froalaView]="sticker.HTML"></div>
  </div>
</div>
<ng-template #preloader>
  <p class="text">loading...</p>
</ng-template>

