.edit {
  max-width: 1280px;
  margin: 0 auto;

  .title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    a {
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  .preview{
    margin-bottom: 40px;
  }

  .last-edited{
    margin-right: 10px;
    color: #b1b1b1;
  }

  input[type=text]{
  box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	height: 45px;
  }

  .id{
    font-size: 12px;
    color: #b1b1b1;
  }
}